body {
  margin: 0;
  /*No necesitamos familia de fuentes, Utilizamos Imagenes de letras.*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
